*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    box-shadow: 0 0 5px;
}

.menu ul li a{
    padding: 0 25px !important ;
    font-weight: 500;
}
.menu img{
    width: 150px;
    height: 100px;
}
.menu_btn{
    font-family: Roboto ;
    font-weight: 400;
    font-size: 21px;
    padding: 18px 30px;
    color: #5E3BEE;
    border: 2px solid #5E3BEE;
    border-radius: 5px;
    background-color: transparent;
}
/* nevber end */


/* hero part start */
.hero_img{
    width: 100%;
    margin-top: -100px;
}


.hero_text h4{
    font-family: Roboto;
    font-weight: 600px;
    font-size: 21px;
    color: #282938;
    margin-bottom: 21px;
}

.hero_text h1{
    font-family: Roboto;
    font-weight: 700;
    font-size: 50px;
    color: #282938;
    margin-bottom: 21px;
}

.hero_text h1 span{
    color:#5E3BEE ;
}

.hero_text p{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    color: #1C1E53;
    margin-bottom: 32px;
}


.hero_text button{
    font-family: Roboto ;
    font-weight: 400;
    font-size: 21px;
    padding: 18px 30px;
    color: #FFFFFF;
    border: 2px solid #5E3BEE;
    border-radius: 5px;
    background-color: #5E3BEE;
}


#hero{
    padding: 160px 0;
    background-color: #F5FCFF;
}

/* hero part end */


/* skill part start */

#skills{
    padding:149px 0 ;
}


.skills_top{
    padding-bottom: 106px;
}


.skills_top h5{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    color: #282938;
}

.skills_top h3{
    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
    color: #282938;
    margin-top: 21px;
}

.skill_item{
    background-color: #F5FCFF;
    padding: 25px;
    border-radius: 10px;
    transition:.5s;
    }

    .skill_item:hover{
        border-bottom: 4px solid #5E3BEE;
        
    }

.skill_item h4{
    margin-top: 20px;
    margin-bottom: 21px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    color: #282938;
}

.skill_item p{
    font-family: Roboto;
    font-size:15px;
    font-weight: 400;
    color: #1C1E53;
}
/* skill part end */


/* about me start */

#about{
    padding: 133px 0;
}

.about_img img{
    width: 100%;
}


.about_text h6{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    color: #282938;
    margin-bottom: 10px;
}

.about_text h3{
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    color: #282938;
    margin-bottom: 20px;
}

.about_text p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #1C1E53;
  
}

/* about me end */


/* portfolio section start */

#portfolio{
    padding: 139px 0;
}

.portfolio_top{
    margin-bottom: 80px;
}

.port_btn{
    background-color: #E62872;
    padding: 21px;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    
}

.port_btn i{
    margin-right: 16px;
    font-size: 20px
}

.portfolio_top h5{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
     color: #282938;
}

.portfolio_top h3{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 700;
     color: #282938;
     margin-top: 21px;
}

.port_item{
    border-radius:10px;
    box-shadow: 1px 4px 14px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 4px 14px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 14px 4px rgba(0,0,0,0.75);;
}

.port_item img{
    width: 100%;

}
.pi_text{
    padding: 32px;
}

.pi_text h5{
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700px;
    color: #282938;
}

.pi_text p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #1C1E53;
}

.pi_text a{
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    border-bottom: 2px solid #5E3BEE ;

}

.pi_text a i {
    transform: rotate(-45deg);
}

/* portfolio section end */

/* testimonials section start */


#test_id{
    padding: 180px 0;
    background-color: #F5FCFF;
}


.testtimonials h5{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    color: #282938;
    margin-bottom: 21px;
}


.testtimonials h3{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    color: #282938;
    margin-bottom:80px ;
    
    
}

.star{
    border: 2px solid #006B6A;
    padding: 42px;
    border-radius: 8px;
    
}

.star i{
    color: #006B6A;
    margin-bottom: 42px;
}

.star p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    color: #1C1E53;
    margin-bottom: 42px;
}

.reviewer{
    display: flex;
    gap: 21px;
    align-items: center;
}

.reviewer img{
    width: 75px;
    height: 75px;
}

.reviewer h3{
    font-family: Roboto;
    font-weight: 600;
    font-size: 21px;
    color: #282938;
}

.reviewer h5{
    font-family: Roboto;
    font-weight: 600;
    font-size: 21px;
    color: #282938;
}

/* testimonials section end */

/* contact section start */

#contact{
    padding: 100px 0;
}

.contact_top{
    margin-bottom: 64px;
}

.contact_top h5{
    font-family: Roboto;
    font-weight: 600;
    font-size: 21px;
    color: #282938;
    margin-bottom: 21px;
}

.contact_top h3{
    font-family: Roboto;
    font-weight: 700;
    font-size: 64px;
    color: #282938;
    margin-bottom: 32px;
}

.contact_top p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    color: #1C1E53;
}

.user{
    display: flex;
    justify-content: space-between;
}

.user input{
    width: 300px;
    border: 2px solid #5E3BEE;
    height: 40px;
    border-radius: 5px;
    outline: none;
}


form label{
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    color: #282938;
}


form select{
    width: 100%;
    height: 40px;
    border: 2px solid #5E3BEE;
    border-radius: 5px;
    outline: none;
}

form textarea{
    width: 100%;
    height:140px;
    border: 2px solid #5E3BEE;
    border-radius: 5px;
    outline: none;
    padding: 16px;
}


.box{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #282938;
}

.form_btn{
    display: flex;
    justify-content: center;

}

.form_btn button{
    font-family: Roboto ;
    font-weight: 400;
    font-size: 21px;
    margin-top: 50px;
    padding: 18px 51px;
    color: #FFFFFF;
    border: 2px solid #5E3BEE;
    border-radius: 7px;
    background-color: #5E3BEE;
    border: none;
}

    
      
/* contact section end */



/* foter start*/


.icons i{
    margin-left: 20px;
}

        




    